<div class="centered-content">
    <div class="modal-box">
        <h1 class="title">
            Share a task
        </h1>
        <div class="error-message" *ngIf="errBlock">
            <p class="error-text">{{ errorMessage }}</p>
          </div>
        <input #taskEmailShare class="input has-background-light is-medium" type="text" placeholder="Enter email for share a task">
        <br><br>
        <div class="buttons is-right">
            <button class="button is-medium" routerLink="/">Cancel</button>
            <button class="button is-primary has-text-white is-medium" (click)="shareTask(taskEmailShare.value)">Share</button>
        </div>
    </div>
</div>